.button-ver {
  position: relative;
  background-color: #262626; /* bg-neutral-800 */
  height: 4rem; /* h-16 */
  width: 16rem; /* w-64 */
  border: 1px solid #d1d5db; /* border */
  text-align: left; /* text-left */
  padding: 0.75rem; /* p-3 */
  color: #f9fafb; /* text-gray-50 */
  font-size: 1rem; /* text-base */
  font-weight: bold; /* font-bold */
  border-radius: 0.5rem; /* rounded-lg */
  overflow: hidden;
  text-decoration: underline;
  text-underline-offset: 0.5rem; /* underline-offset-2 */
  transition: all 0.5s;
}

.button-ver:hover {
  border-color: var(--colorCefindex); /* hover:border-rose-300 */
  text-decoration: underline;
  text-underline-offset: .7rem; /* hover:underline-offset-4 */
  text-decoration-thickness: 2px; /* hover:decoration-2 */
  color: var(--colorCefindex); /* hover:text-rose-300 */
}

.button-ver::before {
  content: '';
  position: absolute;
  width: 3rem; /* w-12 */
  height: 3rem; /* h-12 */
  right: 0.25rem; /* right-1 */
  top: 0.25rem; /* top-1 */
  z-index: 10;
  background-color: #a21caf; /* bg-violet-500 */
  border-radius: 9999px; /* rounded-full */
  filter: blur(8px); /* blur-lg */
  transition: all 0.5s;
}

.button-ver:hover::before {
  right: 3rem; /* right-12 */
  bottom: -2rem; /* -bottom-8 */
  box-shadow: 20px 20px 20px 30px #a21caf;
  filter: blur(8px);
}

.button-ver::after {
  content: '';
  position: absolute;
  z-index: 10;
  width: 5rem; /* w-20 */
  height: 5rem; /* h-20 */
  right: 2rem; /* right-8 */
  top: 0.75rem; /* top-3 */
  background-color: var(--colorCefindex); /* bg-rose-300 */
  border-radius: 9999px; /* rounded-full */
  filter: blur(8px); /* blur-lg */
  transition: all 0.5s;
}

.button-ver:hover::after {
  right: -2rem; /* -right-8 */
}