.Hero-Section{
  min-height: 100vh; /* equivalente a min-h-screen */
  width: 100%;
}

.Title-Page {
    font-size: clamp(2rem, 15vw, 10rem);
    animation: floatTitle 4s ease-in-out infinite;
}

.floating {
  animation: float 3s ease-in-out infinite;
  position: relative;
}