.Hero-Section{
  min-height: 100vh; /* equivalente a min-h-screen */
  width: 100%;
     background: linear-gradient(to top, #0f0f0f 30%, rgba(15,15,15,0) 100%);

}

.Title-Page {
    font-size: clamp(2rem, 18vw, 10rem);
    animation: floatTitle 4s ease-in-out infinite;
}

.floating {
  animation: float 3s ease-in-out infinite;
  position: relative;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}