.Service-Section{
  min-height: 100vh;
  width: 100%;
    background: var(--colorNegro);
}

.Text-Section{
   margin-top: clamp(1rem, 5vw, 3rem);
}

.Title-Section {
    font-size: clamp(1.7rem, 5vw, 3rem);
    color: var(--colorCefindex);
    font-weight: bolder;
}

.Description-Section {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    color: var(--colorGris);
    text-align: start;
}

