.BannerContact{
    position: relative;
    height: 25vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-banner{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: bolder;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.banner-content {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  color: #fff;
  /* Puedes agregar más estilos para el texto aquí */
}